// 隐藏滚动条
::-webkit-scrollbar {
    display: none;
}

.container {
    padding: 0 0.9375rem;
}

.text-sm {
    font-size: 12px;
    line-height: 16px;
    color: #333;
}

.easyinput-suffix-text {
    color: #666;
    padding: 0 10px;
}

.uni-section__decoration {
    margin-right: 10px;
}
.uni-section__right {
    color: $uni-text-color-grey;
    font-size: $uni-font-size-sm;
    .sum_qty {
        color: $uni-color-error;
        font-size: $uni-font-size-base;
        font-weight: bold;
    }
}
.uni-list-item__head {
    display: flex;
    align-items: center;
    margin-right: 6px;
}
.uni-list-item__body {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    padding-right: 8px;
    flex: 1;
    color: $uni-text-color;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    .title {
        font-size: $uni-font-size-base;
        overflow: hidden;
    }
    .note {
        margin-top: 6rpx;
        color: $uni-text-color-grey;
        font-size: $uni-font-size-sm;
        overflow: hidden;
        .loc_no {
            font-size: $uni-font-size-base;
            color: $uni-color-primary;
        }
        .src_loc_no {
            font-size: $uni-font-size-base;
            color: $uni-text-color;
        }
        .dest_loc_no {
            font-size: $uni-font-size-base;
            color: $uni-color-primary;
        }
        .stock {
            color: $uni-color-primary;
            &.disabled {
                color: $uni-color-error;
            }
        }
        .dest-stock {
            color: $uni-color-primary;
            &.disabled {
                color: $uni-color-error;
            }
        }
        .batch_no {
            color: $uni-color-primary;
        }
    }
}
.uni-list-item__foot {
    font-size: $uni-font-size-sm;
    color: $uni-text-color-grey;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    justify-content: center;
    .op_qty {
        text-align: right;
        &.lg {
            font-size: $uni-font-size-lg;
        }
    }
    .status {
        color: $uni-color-primary;
        text-align: right;
        &.disabled {
            color: $uni-color-error
        }
    }
}

.uni-goods-nav-wrapper {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    /* #ifdef H5 */
    left: var(--window-left);
    right: var(--window-right);
    /* #endif */
    bottom: 0;
}

.above-uni-goods-nav {
    padding-bottom: 60px;
}
