// 隐藏滚动条
::-webkit-scrollbar {
    display: none;
}

// 基础样式
.container {
    // padding: 0 0.9375rem;
    padding: 0 15px;
}
.searchbar-container {
    padding: 10px 15px;
}
.text-primary {
    color: $uni-color-primary;
}
.text-success {
    color: $uni-color-success;
}
.text-warning {
    color: $uni-color-warning;
}
.text-error {
    color: $uni-color-error;
}
.text-default, .text-dark {
    color: $uni-text-color;
}
.text-grey {
    color: $uni-text-color-grey;
}
.text-bold {
    font-weight: bold;
}
.text-link {
    color: $uni-color-primary;
    text-decoration: underline;
}
.text-lg {
    font-size: $uni-font-size-lg;
}
.text-md {
    font-size: $uni-font-size-base;
}
.text-sm {
    font-size: $uni-font-size-sm;
}
// tab
.tab-scroll {
    width: 100%;
    white-space: nowrap;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    position: fixed;
    top: 44px;
    z-index: 10;
}
.tab-item {
    display: inline-block;
    padding: 0 15px;
    font-size: 16px;
    color: #666;
    position: relative;
    &.active {
        color: #007AFF;
        font-weight: bold;
        &:after {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 20px;
            height: 3px;
            background-color: #007AFF;
            border-radius: 3px;
        }
    }
}
.tab-content {
    margin-top: 45px;
}
// 自定义样式
.easyinput-suffix-text {
    color: $uni-text-color-placeholder;
    padding: 0 10px;
}

.uni-section__decoration {
    margin-right: 10px;
}
.uni-section__right {
    color: $uni-text-color-grey;
    font-size: $uni-font-size-sm;
    .sum_qty {
        color: $uni-color-error;
        font-size: $uni-font-size-base;
        font-weight: bold;
    }
}
// #ifdef H5
.uni-list-item:hover {
    background-color: #f1f1f1 !important;
}
// #endif

.uni-list-item__head {
    display: flex;
    // flex-direction: column;
    align-items: center;
    margin-right: 8px;
}
.uni-list-item__body {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    padding-right: 8px;
    flex: 1;
    color: $uni-text-color;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    .title {
        font-size: $uni-font-size-base;
        overflow: hidden;
    }
    .note {
        margin-top: 6rpx;
        color: #666666;
        font-size: $uni-font-size-sm;
        overflow: hidden;
        // .loc_no {
        //     font-size: $uni-font-size-base;
        //     color: $uni-color-primary;
        // }
        // .src_loc_no {
        //     font-size: $uni-font-size-base;
        //     color: $uni-text-color;
        // }
        // .dest_loc_no {
        //     font-size: $uni-font-size-base;
        //     color: $uni-color-primary;
        // }
        // .stock {
        //     color: $uni-color-primary;
        //     &.disabled {
        //         color: $uni-color-error;
        //     }
        // }
        // .dest-stock {
        //     color: $uni-color-primary;
        //     &.disabled {
        //         color: $uni-color-error;
        //     }
        // }
        // .batch_no {
        //     color: $uni-color-primary;
        // }
    }
}
.uni-list-item__foot {
    font-size: $uni-font-size-sm;
    color: #666666;
    display: flex;
    flex-direction: column;
    // align-items: flex-end;
    justify-content: center;
    text-align: right;
    .op_qty {
        &.lg {
            font-size: $uni-font-size-lg;
        }
    }
    .status {
        color: $uni-color-primary;
        &.disabled {
            color: $uni-color-error
        }
    }
}

.uni-goods-nav-wrapper {
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    /* #ifdef H5 */
    left: var(--window-left);
    right: var(--window-right);
    /* #endif */
    bottom: 0;
}

.above-uni-goods-nav {
    padding-bottom: 60px;
}

.is-loading {
    animation: rotating 2s linear infinite;
}

/* completed stamp */
.yiwancheng-stamp {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 128px;
    height: 128px;
}

@keyframes rotating {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.scroll-list {
    // position: absolute;
    overflow: hidden;
    width: 100%;
    animation: scrolling_cycle 30s linear infinite;
}
// 循环滚动，需要搭配列表内容重复两遍
@keyframes scrolling_cycle {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-50%);
    }
}